.authContainer{
    background-image: url('../../assets/images/scene-3humans-standing.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 700px){
    .authContainer{
        background-image: none;
    }
}