body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.dark-bg{
  background-color: #303030 !important;
}
html{
  /* font-size: 62.5%; */
  transition: all .2s;
}
.w-100{
  width: 100%;
}
.text-decoration-none{
  text-decoration: none;
}
.p-relative{
  position: relative;
}

/* over rides */
.MuiFilledInput-underline:before{
  border-color: rgba(0, 0, 0, 0);
}





@keyframes input-helperText-animate {
  from{
    opacity: 0;
    min-height: 0em;
    line-height: 0em;
    transform: translateY(-2px);
  }
  to{
    opacity: 1; 
    min-height: 1em;
    line-height: 1em;
    transform: translateY(0);
  }
}